
.case:hover{
    background-color: rgba(30, 9, 107, 0.7);
}

.rep{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px auto;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    width: 50%;
    background-color: rgba(0,0,0,.3);
}

.rep img{
    margin-left: 35px;
    width: 200px;
    height: 200px;
}

.calc{
    display: flex;
    border: 2px solid black;
    width: 400px;
    border-radius: 11px;
}

.screen{
    display: flex;
    background-color: rgba(87, 76, 76, 0.7);
    height: 20%;
    width: 100%;
    justify-content: right;
    align-items: center;
    border-bottom: 2px solid black;
}

.calcScreen{
    margin: 15px;
    font-size: 2Rem;
}

.supp{
    display: flex;
    flex-direction: column;
    background-color: #270808;
    height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.line1, .line2, .line3, .line4, .line5, .line6{
    display: flex;
    flex-flow: row wrap;
    height: 20%;
    width: 100%;
    justify-content: center;
}

.line1{
    margin-top: 25px;
}
.pave{
    display: flex;
    flex-direction: column; 
    flex: 1;
    width: 100%;
    justify-content: center;
}
.case{
    font-size: 2Rem;
    display: flex;
    flex-flow: row wrap;
    padding: 7px;
    background-color: rgba(0, 0, 0, .7);
    border: none;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Montserrat';
    color: rgb(200,200,200);
    width: 22%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.case img{
    width: 40px;
    height: 30px;
}

aside{
    width: 15%;
}

aside p{
    display: flex;
    padding: 10px;
    overflow-x: auto;
}

.calculatrice{
    display: flex;
}

.ope{
    background-color: rgb(255, 94, 0);
}

.del{
    background-color: red;
    
}

.histo{
    display: flex;
    justify-content: space-around;
}

section{
    width: 100%;
    margin-left: 0;
}

section h2{
    margin: 100px 0;
    text-align: center;
}
