main{
    width: 100%;
    margin-left: 0;
}
main div{
    margin-left: 0%;

}
.introduction p{
    font-size: 1.2rem;
    display: flex;
    margin-top: 90px;
    width: 60%;
    text-align: justify;
    /* border: 1px solid white; */
}

.introduction{
    margin-left: 60px;
    width: 100%;
}

.intro{
    margin-top: -5vh;
}