body{
    overflow-x: hidden;
}
p{
    margin-top: 150px;
    width: 50%;
    text-align: justify;
}

.w3SchoolLogo{
    position: absolute;
    top: 600px;
    right: 130px;
    width: 150px;
    height: 150px;
}

.openClassLogo{
    position: absolute;
    top: 400px;
    right: 60px;
    width: 300px;
    height: 135px;
    /* transform: rotate(-15deg); */
}

.codecLogo{
    position: absolute;
    top: 600px;
    right: 350px;
    width: 370px;
    height: 110px;
}

.if3nLogo{
    position: absolute;
    transform: rotate(3deg);
    top: 400px;
    right: 350px;
    width: 350px;
    height: 150px;
}

.formation{
    font-size: 1.2rem;
    position: relative;
    top: -380px;
    right: -800px;
}