.introduction{
    margin-bottom: 75px;
}
.bloc{
    display: flex;
    flex-direction: column;
}

.miniCard{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.miniCard p{
    width: 90%;
}
